h1,h2{text-align: center;}
.productos{
    display: flex;
   justify-content: center;
}
.divCoti{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    margin: 3rem;
    padding: 1rem;
}